{{define "base"}}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Home</title>
    
        {{block "css" .}}

        {{end}}
    
    </head>

    <body class="bg-gray-100 min-h-screen">

    {{template "nav" .}}

    {{block "content" .}}

    {{end}}
    
    {{block "js" .}}

    {{end}}

    </body>

    </html>
{{end}}