{{define "nav"}}
<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-content">
            <div class="navbar-brand">
                <h1>My Porky Blog</h1>
            </div>
            <div class="navbar-nav">
                <a href="/" class="nav-link">Home</a>
                <a href="/about" class="nav-link">About</a>
            </div>
        </div>
    </div>
</nav>
{{end}}